<h3 class="checkouts-header"><%= t('.header') %></h3>

<table class="checkouts">
  <thead>
    <tr>
      <td><%= t('.title') %></td>
      <td><%= t('.author') %></td>
      <td><%= t('.checkout_date') %></td>
      <td><%= t('.due_date') %></td>
      <td><%= t('.fine') %></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @checkouts.each do |checkout| %>
      <tr>
        <td><%= checkout.book.title %></td>
        <td><%= checkout.book.author %></td>
        <td><%= l checkout.created_at, format: :date %></td>
        <td><%= l checkout.due_on, format: :date %></td>
        <td class='fine'><%= humanized_money_with_symbol(BookFineCalculator.including_related_checkouts(checkout)) %></td>
        <td><%= link_to 'Renew', book_checkout_path(checkout.book, checkout), method: :put %></td>
        <td><%= link_to t('.return_link'), book_checkout_path(checkout.book, current_user), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class='total_fines'>Total Fines Owed: <%= number_to_currency(UserFineCalculator.total(current_user)) %></p>
