<h1 class="page-title"><%= t('.header') %></h1>

<ul class="books">
  <% @books.each do |book| %>
    <li>
      <%= t('simple_form.labels.title') %>
      <%= book.title %> ,
      <%= t('simple_form.labels.author') %>
      <%= book.author %>
    </li>
  <% end %>
</ul>
