<h1 class="page-title"><%= t('.header') %></h1>

<%= render "book_searches/book_search_bar" %>

<h3> Available Books </h3>
<ul class="books available">
  <% @available_books.each do |book| %>
    <li>
      <%= book.title %>,
      <%= book.author %>
      <%= link_to t('.check_out_link'), book_checkouts_path(book, current_user), method: :post %>
    </li>
  <% end %>
</ul>

<h3> Unavailable Books </h3>
<ul class="books unavailable">
  <% @unavailable_books.each do |book| %>
    <li>
      <%= book.title %>,
      <%= book.author %>
    </li>
  <% end %>
</ul>
