<h1 class="page-title"><%= t('.header') %></h1>

<h3> Available Books </h3>
<ul class="books available">
  <% @available_books.each do |book| %>
    <li>
      <%= book.title %>,
      <%= book.author %>
      <%= link_to "Check out", book_checkouts_path(book, current_user), method: :post %>
    </li>
  <% end %>
</ul>

<h3> Unavailable Books </h3>
<ul class="books unavailable">
  <% @unavailable_books.each do |book| %>
    <li>
      <%= book.title %>,
      <%= book.author %>
      <% if current_user.checkouts.where(book: book).present? %>
        <%= link_to "Return", book_checkout_path(book, current_user), method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>
